<!DOCTYPE html>
<html>
<head>
  <title>Triangles on the Orient Express!</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div class="container" id="content">
    <%= yield %>
  </div>
</body>
</html>
